---
import '../styles/global.css'
---

<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <meta
      name='description'
      content='The all-in-one reader for Latin & Ancient Greek. Access full texts, tap for dictionary definitions and parsing, and build mastery with integrated flashcards.'
    />
    <title>Logos</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
